<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyber</title>
    <!--Container for metedata(is not displayed)
    Title,Styles,Link,Scripts,Meta and others

    -->

    <meta name="ILIAS">
</head>
<body>

Welcome to Java Cours !!!

<h1>Spring Boot h1</h1>
<h2>Spring Frame h2</h2>
<h3>Spring Boot h3</h3>

<h1 align="center" style="color: blue">Spring Framework</h1>

<img src="springboot.png" alt="SpringBoot Image">

<ul>
    <li>MVC</li>
    <li>API</li>
    <li>ORM</li>
</ul>

<a href="https://amazon.com">Amazon</a>


<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>Value</td>
        <td>DI</td>
    </tr>
</table>

<!--Forms-->
<label >User Name:</label>
<input type="text" name=username"><br>
<label>Password</label>
<input type="password"><br>
<label>Enter comments</label>
<textarea name="comments"></textarea><br>


<label>Please select your subject</label><br>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC
<input type="radio" name="Spring" value="DI">DI
<input type="radio" name="Spring" value="Value">Value
<br>
<label>Please select your Bank</label><br>
<input type="checkbox" name="company" value="BoA">BoA
<input type="checkbox" name="company" value="Chase">Chase
<input type="checkbox" name="company" value="US Bank" checked="checked">US Bank
<br>

<label> Select your car</label><br>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="nissan">Nissan</option>
    <option value="toyota">Toyota</option>
    </select>

<form action="#" method="get">
    First name: <input type="text" name="first_name">
    <br>
    Last Name: <input type="text" name="last_name">

</form>

<div>
<h3>This is Sparta</h3>
    <ul>
        <li>Rome</li>
        <li>Athens</li>
        <li>Pompeo</li>
    </ul>



</div>
</body>
</html>